.christmas-wishlist {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 10px;
}

.wishlist-carousel {
  position: relative;
  margin: auto;
  overflow: hidden;
  max-width: 600px;
}

.carousel-images {
  display: flex;
  transition: 0.5s ease;
}

.carousel-images img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.christmas-checklist {
  background-color: green;
  padding: 10px;
}

.christmas-checklist form {
  display: flex;
  flex-direction: column;
}
